.button {
  display:inline-block;
  padding:15px 25px;
  border-radius: 5px;
  color:$white;
  line-height: 1em;
  @include font-size(16px);
  font-weight:bold;
  text-align: center;
  &:hover {
    text-decoration: none;
    color:$white;
  }
  &.small {
    padding:5px 10px;
    @include font-size(15px);
  }
  &.medium {
    padding:10px 15px;
    @include font-size(16px);
  }
}

  ._blue {
    background:$blue;
    &:hover {
    background:$blue-light;
    }
  }
  ._orange {
    background:$orange-dark;
    &:hover {
    background:$orange;
    }
  }
.full {
  width:100%;
}

.arrow {
  position: relative;
  padding-right: 15px;
  @include font-size(18px);
  line-height:1em;
  font-weight:700;
  color: $blue;
  &:after {
    position: absolute;
    content:"\276F";
    right:0;
    top:0;
    @include font-size(20px);
    line-height:1em;
  }
  &:hover {
    color: $blue-light;
  }
}