.head-wrap {
  position: relative;
  @include clearfix;
  background-image:url(../images/big-bubbles.png);
  background-image:linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%), url(../images/big-bubbles.svg); 
  background-position: 128% 12%;
  background-repeat: no-repeat;
  .head {
    padding-top:15px;
    padding-bottom:15px;
    @include clearfix; 
    position: relative;
  }
}

.logo {
  display:block;
  float:left;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;  
  width:175px;
  height:133px;
  background-image:url(../images/logo.png);
  background-image:linear-gradient(transparent, transparent), url(../images/logo.svg);
  background-repeat: no-repeat;
}
.nav-wrap {
  background: $gray-medium;
  height:39px;
  border-bottom:4px solid $gray-dark;
}
.main-menu {
  display:block;
  float:left;
  text-align: center;
  list-style: none;
  padding:0;
  li {
    float:left;
    &:first-child {
      margin-left:-10px;
    }
    a {
      display: block;
      padding: 11px 10px 7px;
      margin:0 10px;
      @include font-size(17px);
      color: $white;
      font-weight: bold;
      line-height: 1em;
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        color:$orange-dark; 
      }
    }
    &.current-menu-item a {
      border-bottom:4px solid $orange-dark;
    }
  }
}

.header-cta {
  position:absolute;
  top:-200px;
  right:12%;
  background:$white;
  padding:30px 13px;
  padding-top:75px;
  border-radius:50%;
  height:200px;
  width:200px;
  border:16px solid $orange-dark;
  text-align: center;
  -webkit-transition: top .8s;
  transition: top .8s;
  
  h3 {
    @include font-size(16px);
    font-weight: bold;
    line-height: 1.2em; 
    margin-bottom:10px;
  }
  a {
    font-family: $font-stack-open;
  }
}

.nav-cta {
  float:right;
  padding:6px 10px;
  display:none;
  @include font-size(17px);
    color: $white;
    font-weight: bold;
    line-height: 1em;
  a {
   margin-right:5px;
    font-family: $font-stack-open;
  }
}

.hdr-active {
    top:-70px;
  }


.nav-icon {
  margin:0;
  width: 25px;
  display:none;
  position: absolute;
  top: 3px;
}
.nav-icon:hover {cursor: pointer;}
.nav-icon:after, 
.nav-icon:before, 
.nav-icon div {
  background-color: $white-off;
  border-radius: 2px;
  content: '';
  display: block;
  height: 3px;
  margin: 5px 0;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.nav-icon.active:before {
  transform: translateY(8px) rotate(135deg);
  -moz-transform: translateY(8px) rotate(135deg);
  -webkit-transform: translateY(8px) rotate(135deg);
}

.nav-icon.active:after {
  transform: translateY(-8px) rotate(-135deg);
  -moz-transform: translateY(-8px) rotate(-135deg);
  -webkit-transform: translateY(-8px) rotate(-135deg);
}

.nav-icon.active div {
  -moz-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

@media (max-width:767px) {
  .nav-cta {
  display:block;
  }
  .header-cta {display:none;}
  .nav-icon {
    display:block;
  }
  .main-menu {
    display:none;
    position: absolute;
    top:37px;
    left:0;
    width:100%;
    li {
      margin:0;
      width:100%;
      &:first-child {
      margin-left:auto;
      }
      a {
      background:#444;
      padding:10px 20px;
      border-bottom:2px solid $gray-dark;
      margin:0;
      }
    }
  }
  .main-menu.show {
    display:block;
    z-index: 10;
  }
  .main-menu.show li.current-menu-item a {
    border-bottom:2px solid $gray-dark;
  }
} 