.head-wrap {
  position: relative;
  @include clearfix;
  background-image:url(../images/big-bubbles.png);
  background-image:linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%), url(../images/big-bubbles.svg); 
  background-position: 128% 12%;
  background-repeat: no-repeat;
  .head {
    padding-top:25px;
    padding-bottom:25px;
    @include clearfix; 
    position: relative;
  }
}

.logo {
  display:block;
  float:left;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;  
  width:175px;
  height:133px;
  background-image:url(../images/logo.png);
  background-image:linear-gradient(transparent, transparent), url(../images/logo.svg);
  background-repeat: no-repeat;
}
.nav-wrap {
  background: $gray-medium;
  height:39px;
  border-bottom:4px solid $gray-dark;
}
.main-menu {
  display:block;
  float:left;
  text-align: center;
  li {
    float:left;
    a {
      display: block;
      padding: 11px 10px 7px;
      margin:0 10px;
      @include font-size(17px);
      color: $white;
      font-weight: bold;
      line-height: 1em;
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
        color:$orange-dark; 
      }
    }
    &.current-menu-item a {
      border-bottom:4px solid $orange-dark;
    }
  }
}

.header-cta {
  position:absolute;
  top:-200px;
  right:12%;
  background:$white;
  padding:30px 13px;
  padding-top:75px;
  border-radius:50%;
  height:200px;
  width:200px;
  border:16px solid $orange-dark;
  text-align: center;
  -webkit-transition: top .8s;
  transition: top .8s;
  
  h3 {
    @include font-size(16px);
    font-weight: bold;
    line-height: 1.2em; 
    margin-bottom:10px;
  }
  a {
    font-family: $font-stack-open;
  }
}

.nav-cta {
  float:right;
  padding:6px 10px;
  display:none;
  @include font-size(17px);
    color: $white;
    font-weight: bold;
    line-height: 1em;
  a {
   margin-right:5px;
    font-family: $font-stack-open;
  }
}

.hdr-active {
    top:-70px;
  }