.footer-wrap {
  background:$gray-light;
  
}
.footer-menus > div {
  padding-top:30px;
  padding-bottom:30px;
}
.footer-menus ul li a {
  color:$white-off;
}
.super-footer-wrap {
  background:$gray-medium;
  padding-top:10px;
  padding-bottom:10px;
  color:$white-off;
  @include font-size(14px);
}