.full {
  padding-top:40px;
  padding-bottom:25px;
  text-align: center;
  h2 {
    @include font-size(32px);
    font-family: $font-stack-open;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom:15px;
  }
  p {
    @include font-size(18px);
    line-height: 1.4em;
    margin-bottom:15px;
  }
}