.hero-wrap {
  position: relative;
}

.hero-image {
  width:100%;
  height:auto;
}

.hero-text {
  background: rgba(51, 51, 51, 0.8);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  height:100%;
}

.hero-title {
  @include font-size(40px);
  font-weight: 400;
  color: $white;
  line-height: 1.1em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom:15px;
  font-family: $font-stack-open;
}

.hero-sub {
  @include font-size(18px);
  color: $white;
  line-height: 1.3em;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom:15px;
}

@media screen and (max-width: $screen-xs-max) {
  .hero-txt-wrap {
    height:100%;
    width:100%;
    top:0;
    left:0;
    transform:inherit;
    -ms-transform: inherit;
    -webkit-transform: inherit;
  }
  .hero-text {
    padding:10px 50px;
    text-align: center;
  }
  .hero-title {
    @include font-size(28px);
    line-height: 1.1em;
    margin-bottom:10px;
  }

  .hero-sub {
    @include font-size(16px);
    line-height: 1.2em;
    margin-bottom:10px;
  }
  .hero-sub {
    display:none; 
  }
  .hero-text .button {
    display:none
  }
}

@media screen and (min-width: $screen-sm-min) {
  .hero-txt-wrap {
    height:100%;
    width:100%;
  }
  .hero-text {
    padding:10px 50px;
    text-align: center;
  }
}

@media screen and (min-width: $screen-md-min) {
  .hero-txt-wrap {
    height:auto;
    width:auto;
    max-width: 60%;
  }
  .hero-text {
    padding:20px 30px;
    text-align: left;
  }
}