.three-spot {
  padding-top:40px;
  padding-bottom:25px;
  h2 {
    @include font-size(28px);
    font-family: $font-stack-open;
    font-weight: 700;
    line-height: 1.2em;
    margin-bottom:15px;
  }
  p {
    @include font-size(18px);
    line-height: 1.4em;
    margin-bottom:15px;
  }
  img {
    width:100%;
    height:auto;
  }
}


@media (max-width:767px) {
  .three-spot > div {
    margin-bottom:40px;
  }
}